<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weight tracker index</title>
    <header><%- include ('partials/header.ejs') %></header>
</head>
<body>
    <nav>
        <%- include ('partials/nav.ejs') %>
    </nav>

    <ul>
    <% for (let i = 0 ; i < weightData.length ; i++) { %>
        <a class="index" href="/index/<%= weightData[i].id %>">
        <li>
            <p> <%= weightData[i].date %>  </p>
            <p> <%= weightData[i].weight %> </p>
        </li>  <% } %> </a>
    </ul>

</body>
</html>